bidict==0.21.2
certifi==2021.5.30
charset-normalizer==2.0.3
click==8.0.1
colorclass==2.2.0
dnspython==2.1.0
docopt==0.6.2
Flask==2.0.1
Flask-SocketIO==5.1.0
Flask-WTF==0.15.1
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.1.0
gunicorn==20.1.0
h11==0.12.0
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
packaging==21.0
pip-upgrader==1.4.15
pyparsing==2.4.7
python-engineio==4.2.0
python-socketio==5.3.0
requests==2.26.0
simple-websocket==0.2.0
six==1.16.0
terminaltables==3.1.0
urllib3==1.26.6
Werkzeug==2.0.1
wsproto==1.0.0
WTForms==2.3.3
zope.event==4.5.0
zope.interface==5.4.0
