* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    padding: 50px 0px 50px 0px;
}

.main_form {
    margin: 100px 0px 100px;
    padding: 0px 200px;
}

.container {
    max-width: 830px;
    margin: 0px auto 0px auto;
    padding: 0px 15px;
    height: 100%;
}

td {
    padding-left: 5px;
}

.rooms {
    margin: 30px;
}

.rooms table {
    width: 75%;
    margin: 0px auto;
}

.rooms caption {
    margin-bottom: 20px;
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.info {
    font-size: 18px;
    margin: 25px 0px;
}

.form_inputs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px 0px 35px 0px;
}

.form_inputs input {
    min-width: 180px;
    height: 25px;
}

.form_errors span {
    margin-top: 15px;
}

.content {
    margin: 100px 0px 0px;
    display: flex;
    justify-content: space-between;
}

#chat {
    width: 60%;
    overflow: scroll;
    height: 200px;
    list-style: none;
}

.content ul li {
    border-bottom: 1px solid black;
    padding: 5px 5px 5px 10px;
}

#users {
    width: 30%;
    overflow: scroll;
    list-style: none;
}

.type {
    margin: 20px 0px 0px 35px;
}

#message {
    display: block;
    padding: 5px 10px;
    white-space: normal;
}

#send {
    margin-top: 20px;
}