{% extends "bootstrap/base.html" %}

{% block title %}
    {% if title %}rchat - {{ title }}
    {% else %}rchat{% endif %}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="center">
            <div class="inner">
                {% block app_content %}{% endblock app_content %}
            </div>
        </div>
    </div>
{% endblock %}