{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1 class="title">Welcome!</h1>
<p class="info">
    Please, select a name and a room in the relevant fields bellow to continue. 
</p>
<hr>

<form method="POST" novalidate>
    {{ form.hidden_tag() }}
    <div class="form-row login">
        <div class="col">
            {{ wtf.form_field(form.name, placeholder='Enter your name') }}
        </div>
        <div class="col">
            {{ wtf.form_field(form.room, placeholder='Enter a room') }}
        </div>
        {{ wtf.form_field(form.submit, class='btn btn-primary') }}
    </div>
</form>

<hr>
<div class="rooms">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Room:</th>
            <th scope="col">Online: </th>
        </tr>
        </thead>
        <tbody>
            {% for room_name, room_users in users.items() %}
                {% if room_users | length == 0 %}
                {% else %}
                <tr>
                    <td>{{ room_name }}</td>
                    <td>{{ room_users | length }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}